<?xml version="1.0" ?>
<robot name="SEED-Lifter-Mover-typeG_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find typeg)/model/typeg_gz.urdf.xacro" />
  <!-- ============================   gazebo setting  ============================ -->
  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <xacro:ros2_control_mover_joints/>
    <xacro:ros2_control_lifter_joints/>
    <xacro:ros2_control_rarm_joints/>
    <xacro:ros2_control_larm_joints/>
    <xacro:ros2_control_body_joints/>
    <xacro:ros2_control_trx_s_joints/>
  </ros2_control>
  <gazebo>
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>

    <plugin name="gz::sim::systems::OdometryPublisher" filename="gz-sim-odometry-publisher-system">
      <odom_topic>odom</odom_topic>
      <odom_frame>odom</odom_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <publish_tf>true</publish_tf>
      <tf_topic>pose</tf_topic>
      <odom_publish_frequency>30</odom_publish_frequency>
      <xyz_offset>0 0 0</xyz_offset>
      <rpy_offset>0 0 0</rpy_offset>
    </plugin>

    <plugin name="gazebo_ros2::PlanarMovePlugin" filename="libgazebo_ros_planar_move_ros2.so">
      <link_name>base_link</link_name>
      <use_force>true</use_force>
    </plugin>

  </gazebo>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find typeg)/gazebo/config/gazebo_controller.yaml</parameters>
      <ros>
        <remapping>/controller_manager/robot_description:=/robot_description</remapping>
      </ros>
    </plugin>
  </gazebo>
  <gazebo reference="wheels_base_laser_link" >
      <sensor name="wheels_base_laser_link" type="gpu_lidar">
        <gz_frame_id>wheels_base_laser_link</gz_frame_id>
        <topic>scan</topic>
        <update_rate>10</update_rate>
        <lidar>
          <scan>
            <horizontal>
              <samples>1000</samples>
              <resolution>1</resolution>
              <min_angle>-2.35619449</min_angle>
              <max_angle>2.35619449</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>0.1</resolution>
              <min_angle>0.0</min_angle>
              <max_angle>0.0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.08</min>
            <max>20.0</max>
            <resolution>0.01</resolution>
          </range>
          <frame_id>/wheels_base_laser_link</frame_id>
        </lidar>
        <alwaysOn>ture</alwaysOn>
        <visualize>true</visualize>
      </sensor>
  </gazebo>
  <gazebo reference="front_camera_link">
    <sensor name="front_rgbd_camera" type="rgbd_camera">
      <camera>
        <horizontal_fov>1.7</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>B8G8R8</format>
        </image>
        <clip>
          <near>0.15</near>
          <far>300</far>
        </clip>
        <optical_frame_id>front_camera_link</optical_frame_id>
      </camera>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <topic>front_camera</topic>
      <gz_frame_id>front_camera_link</gz_frame_id>
    </sensor>
  </gazebo>
  <gazebo reference="rear_camera_link">
    <sensor name="rear_rgbd_camera" type="rgbd_camera">
      <camera>
        <horizontal_fov>1.7</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>B8G8R8</format>
        </image>
        <clip>
          <near>0.15</near>
          <far>300</far>
        </clip>
        <optical_frame_id>rear_camera_link</optical_frame_id>
      </camera>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <topic>rear_camera</topic>
      <gz_frame_id>rear_camera_link</gz_frame_id>
    </sensor>
  </gazebo>
  <gazebo reference="chest_camera_link">
    <sensor name="rear_rgbd_camera" type="rgbd_camera">
      <camera>
        <horizontal_fov>1.7</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>B8G8R8</format>
        </image>
        <clip>
          <near>0.15</near>
          <far>300</far>
        </clip>
        <optical_frame_id>chest_camera_link</optical_frame_id>
      </camera>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <topic>chest_camera</topic>
      <gz_frame_id>chest_camera_link</gz_frame_id>
    </sensor>
  </gazebo>
  
</robot>
