<?xml version="1.0"?>
<robot name="SEED-Lifter-Mover-typeG" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="driver_settings" default="$(find lifter_mover)/config/driver_settings.yaml" />
    <xacro:arg name="parts_dir" default="$(find lifter_mover)/model/parts" />

    <xacro:include filename="$(arg parts_dir)/typeg_lifter/typeg_lifter.xacro" />
    <xacro:include filename="$(arg parts_dir)/typeg_mover/typeg_mover.xacro" />
    
    <xacro:property name="robot_root" value="base_link" />
    <xacro:property name="lifter_bottom_link" value="lifter_bottom_link" />
    <xacro:property name="lifter_top_link" value="lifter_top_link" />
    <xacro:property name="mover_top_link" value="mover_top_link" />

    
    <xacro:typeg-mover
       base_link="${robot_root}"
       top_link="${mover_top_link}"/>
    
    <joint
       name="wheel_lifter_connector"
       type="fixed">
       <parent link="${mover_top_link}" />
       <child link="${lifter_bottom_link}" />
       <origin
          xyz="0.0 0.0 0.0"
          rpy="0 0 0 " />
    </joint>
    
    <xacro:typeg-lifter
       bottom_link="${lifter_bottom_link}"
       top_link="${lifter_top_link}" />
        
    <xacro:include filename="$(find lifter_mover)/model/lifter_mover.ros2_control.xacro" />
    <xacro:noid_ros2_control name="lifter_mover" driver_settings="$(arg driver_settings)" />
</robot>
