<?xml version="1.0" ?>
<robot name="SEED-Lifter-Mover-typeG_sim" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:include filename="$(find lifter_mover)/model/lifter_mover_gz.urdf.xacro" />
  <!-- ============================   gazebo setting  ============================ -->
  <gazebo reference="wheel_base_link">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>
  <gazebo reference="mover_top_link">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>
  <gazebo reference="wheels_front_left_mecanum">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu1>0.25</mu1>
            <mu2>0.25</mu2>
            <fdir1 gz:expressed_in="base_footprint">1 -1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  <gazebo reference="wheels_front_right_mecanum">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu1>0.25</mu1>
            <mu2>0.25</mu2>
            <fdir1 gz:expressed_in="base_footprint">1 1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  <gazebo reference="wheels_rear_left_mecanum">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu1>0.25</mu1>
            <mu2>0.25</mu2>
            <fdir1 gz:expressed_in="base_footprint">1 1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  <gazebo reference="wheels_rear_right_mecanum">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu1>0.25</mu1>
            <mu2>0.25</mu2>
            <fdir1 gz:expressed_in="base_footprint">1 -1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  <gazebo reference="wheels_base_laser_link">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>
  <gazebo reference="lifter_base_link">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>
  <gazebo reference="leg_shank_link">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>
  <gazebo reference="leg_knee_link">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>
  <gazebo reference="leg_thigh_link">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>
  <gazebo reference="leg_base_link">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>
  <gazebo reference="lifter_top_link">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>

  <transmission name="knee_joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="knee_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="knee_joint_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <gazebo reference="knee_joint">
    <implicitSpringDamper>0</implicitSpringDamper>
  </gazebo>
  <transmission name="ankle_joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="ankle_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="ankle_joint_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <gazebo reference="ankle_joint">
    <implicitSpringDamper>0</implicitSpringDamper>
  </gazebo>

  <transmission name="front_left_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheels_body_to_front_left_mecanum_connector">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="front_left_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <gazebo reference="wheels_body_to_front_left_mecanum_connector">
    <implicitSpringDamper>0</implicitSpringDamper>
  </gazebo>
  <transmission name="front_right_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheels_body_to_front_right_mecanum_connector">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="front_right_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <gazebo reference="wheels_body_to_front_right_mecanum_connector">
    <implicitSpringDamper>0</implicitSpringDamper>
  </gazebo>
  <transmission name="front_left_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheels_body_to_rear_left_mecanum_connector">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="rear_left_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <gazebo reference="wheels_body_to_rear_left_mecanum_connector">
    <implicitSpringDamper>0</implicitSpringDamper>
  </gazebo>
  <transmission name="rear_right_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheels_body_to_rear_right_mecanum_connector">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="rear_right_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <gazebo reference="wheels_body_to_rear_right_mecanum_connector">
    <implicitSpringDamper>0</implicitSpringDamper>
  </gazebo>

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="knee_joint">
      <command_interface name="position">position</command_interface>
      <state_interface name="position">position</state_interface>
      <state_interface name="velocity">velocity</state_interface>
    </joint>
    <joint name="ankle_joint">
      <command_interface name="position">position</command_interface>
      <state_interface name="position">position</state_interface>
      <state_interface name="velocity">velocity</state_interface>
    </joint>
    <joint name="wheels_body_to_front_left_mecanum_connector">
      <command_interface name="velocity">velocity</command_interface>
      <state_interface name="position">position</state_interface>
      <state_interface name="velocity">velocity</state_interface>
    </joint>
    <joint name="wheels_body_to_front_right_mecanum_connector">
      <command_interface name="velocity">velocity</command_interface>
      <state_interface name="position">position</state_interface>
      <state_interface name="velocity">velocity</state_interface>
    </joint>
    <joint name="wheels_body_to_rear_left_mecanum_connector">
      <command_interface name="velocity">velocity</command_interface>
      <state_interface name="position">position</state_interface>
      <state_interface name="velocity">velocity</state_interface>
    </joint>
    <joint name="wheels_body_to_rear_right_mecanum_connector">
      <command_interface name="velocity">velocity</command_interface>
      <state_interface name="position">position</state_interface>
      <state_interface name="velocity">velocity</state_interface>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="gz-sim-joint-trajectory-controller-system" name="gz::sim::systems::JointTrajectoryController">
      <joint_name>knee_joint</joint_name>
      <position_p_gain>100.0</position_p_gain>
      <position_i_gain>0.01</position_i_gain>
      <position_d_gain>10.0</position_d_gain>
      <position_i_max>-1</position_i_max>
      <position_i_min>1</position_i_min>
      <position_cmd_max>-10</position_cmd_max>
      <position_cmd_min>10</position_cmd_min>

      <joint_name>ankle_joint</joint_name>
      <position_p_gain>100.0</position_p_gain>
      <position_i_gain>0.01</position_i_gain>
      <position_d_gain>10.0</position_d_gain>
      <position_i_max>-1</position_i_max>
      <position_i_min>1</position_i_min>
      <position_cmd_max>-10</position_cmd_max>
      <position_cmd_min>10</position_cmd_min>

      <topic>/lifter_controller/joint_trajectory</topic>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
      <joint_name>knee_joint</joint_name>
      <joint_name>ankle_joint</joint_name>
      <joint_name>wheels_body_to_front_left_mecanum_connector</joint_name>
      <joint_name>wheels_body_to_front_right_mecanum_connector</joint_name>
      <joint_name>wheels_body_to_rear_left_mecanum_connector</joint_name>
      <joint_name>wheels_body_to_rear_right_mecanum_connector</joint_name>      
      <topic>/joint_state</topic>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>

    <plugin name="gz::sim::systems::OdometryPublisher" filename="gz-sim-odometry-publisher-system">
      <odom_topic>odom</odom_topic>
      <odom_frame>odom</odom_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <publish_tf>true</publish_tf>
      <tf_topic>pose</tf_topic>
      <odom_publish_frequency>30</odom_publish_frequency>
      <xyz_offset>0 0 0</xyz_offset>
      <rpy_offset>0 0 0</rpy_offset>
    </plugin>

    <plugin name="gazebo_ros2::PlanarMovePlugin" filename="libgazebo_ros_planar_move_ros2.so">
      <link_name>base_link</link_name>
      <use_force>true</use_force>
    </plugin>

  </gazebo>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find lifter_mover)/gazebo/config/gazebo_controller.yaml</parameters>
      <ros>
        <remapping>/controller_manager/robot_description:=/robot_description</remapping>
      </ros>
    </plugin>
  </gazebo>
  <gazebo reference="wheels_base_laser_link" >
      <sensor name="wheels_base_laser_link" type="gpu_lidar">
        <gz_frame_id>wheels_base_laser_link</gz_frame_id>
        <topic>scan</topic>
        <update_rate>10</update_rate>
        <lidar>
          <scan>
            <horizontal>
              <samples>1000</samples>
              <resolution>1</resolution>
              <min_angle>-2.35619449</min_angle>
              <max_angle>2.35619449</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>0.1</resolution>
              <min_angle>0.0</min_angle>
              <max_angle>0.0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.08</min>
            <max>20.0</max>
            <resolution>0.01</resolution>
          </range>
          <frame_id>/wheels_base_laser_link</frame_id>
        </lidar>
        <alwaysOn>ture</alwaysOn>
        <visualize>true</visualize>
      </sensor>
  </gazebo>
  <gazebo reference="front_camera_link">
    <sensor name="front_rgbd_camera" type="rgbd_camera">
      <camera>
        <horizontal_fov>1.7</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>B8G8R8</format>
        </image>
        <clip>
          <near>0.15</near>
          <far>300</far>
        </clip>
        <optical_frame_id>front_camera_link</optical_frame_id>
      </camera>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <topic>front_camera</topic>
      <gz_frame_id>front_camera_link</gz_frame_id>
    </sensor>
  </gazebo>
  <gazebo reference="rear_camera_link">
    <sensor name="rear_rgbd_camera" type="rgbd_camera">
      <camera>
        <horizontal_fov>1.7</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>B8G8R8</format>
        </image>
        <clip>
          <near>0.15</near>
          <far>300</far>
        </clip>
        <optical_frame_id>rear_camera_link</optical_frame_id>
      </camera>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <topic>rear_camera</topic>
      <gz_frame_id>rear_camera_link</gz_frame_id>
    </sensor>
  </gazebo>
  
</robot>
