<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="https://gazebosim.org/schema">

  <xacro:macro name="gazebo_wh_link_reference" params="link_name mu1:=0.25 mu2:=0.25 fdir1" >
    <gazebo reference="${link_name}">
        <collision>
          <surface>
            <friction>
              <ode>
                <mu1>${mu1}</mu1>
                <mu2>${mu2}</mu2>
                <fdir1 gz:expressed_in="base_footprint">${fdir1}</fdir1>
              </ode>
            </friction>
          </surface>
        </collision>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="gazebo_link_reference" params="link_name mu1:=0.9 mu2:=0.9" >
    <gazebo reference="${link_name}">
      <mu1>${mu1}</mu1>
      <mu2>${mu2}</mu2>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="gazebo_joint_reference" params="joint_name implicitspringdamper:=0" >
    <gazebo reference="${joint_name}">
      <implicitSpringDamper>${implicitspringdamper}</implicitSpringDamper>
    </gazebo>
  </xacro:macro>
  
  <xacro:macro name="gazebo_transmission_v" params="joint_name" >
    <transmission name="${joint_name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint_name}_motor">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <xacro:gazebo_joint_reference joint_name="${joint_name}" />
  </xacro:macro>

  <xacro:macro name="gz_ros_interface_v" params="joint_name interface:=velocity" >
    <joint name="${joint_name}">
      <command_interface name="${interface}">${interface}</command_interface>
      <state_interface name="position">position</state_interface>
      <state_interface name="velocity">velocity</state_interface>
    </joint>
  </xacro:macro>
</robot>